body {
    margin: 0px;
}

header {
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    padding: 50px 10px 10px;
    
}

.logo {
    height: 50px;
}

.sottotitolo {
   font-size: 10px; 
}

.thebooleaner {
    color:#4ea0ff
}

.sottotitolofoto {
    font-size: 8px;
}

.evidenziatore {
    background-color: yellow;
}
